# Private info
POSTGRES_URL = postgresql+asyncpg://postgres:Q6L0N2H0LQS5016SQL5888@localhost:5432/group_project_sample
API_KEY_GEMINI = # Lấy từ Google AI Studio
PRIVATE_KEY = 2aac7fad1caf56e547cffa20e6d8a849d84923ae4b8323f098738fb65e929d45

# Technical config

# Auth
JWT_ALGORITHM = HS256
TOKEN_EXPIRY_HOURS = 72

# Models
MODEL_IN_USE_EMBED = GEMINI 
MODEL_IN_USE_CAPTION_IMAGE = GOOGLE
MODEL_IN_USE_GENERATE_CHAT = OLLAMA
MODEL_IN_USE_REWRITE_PROMPT = OLLAMA
MODEL_IN_USE_GENERATE_MATERIAL = GOOGLE
MODEL_IN_USE_GRADE_ANSWERS = OLLAMA
# GOOGLE
# OLLAMA

EMBED_MODEL_GOOGLE = gemini-embedding-001
VISION_MODEL_GOOGLE = gemini-2.5-flash
ANSWER_MODEL_GOOGLE = gemini-2.5-flash

OLLAMA_HOST = http://ollama:11434
EMBED_MODEL_OLLAMA = nomic-embed-text
VISION_MODEL_OLLAMA = llama3.2-vision
ANSWER_MODEL_OLLAMA = llama3.1

# RAG
DEFAULT_CHUNK_SIZE = 500
DEFAULT_CHUNK_OVERLAP = 50
DEFAULT_EMBED_DIMENSIONALITY = 768
N_CHUNKS_RETRIEVED = 5
N_PAST_CONVERSATIONS = 3
N_CHUNKS_WINDOW = 1

# STUDY ACTIVITY
DEFAULT_EXERCISE_TOTAL_SCORE = 100