# Private info
POSTGRES_URL = postgresql+asyncpg://postgres:Q6L0N2H0LQS5016SQL5888@localhost:5432/group_project_sample
API_KEY_GEMINI = AIzaSyA-I9ptCCmzDIypXT4r7mkXhpI3frChy4A
PRIVATE_KEY = 2aac7fad1caf56e547cffa20e6d8a849d84923ae4b8323f098738fb65e929d45

# Technical config
JWT_ALGORITHM = HS256
DEFAULT_CHUNK_SIZE = 500
DEFAULT_CHUNK_OVERLAP = 50
TOKEN_EXPIRY_HOURS = 72
EMBED_MODEL = gemini-embedding-001
ANSWER_MODEL = gemini-2.5-flash
N_CHUNKS_RETRIEVED = 5