# Private info
POSTGRES_URL = postgresql+asyncpg://postgres:Q6L0N2H0LQS5016SQL5888@localhost:5432/group_project_sample
API_KEY_GEMINI = dán tất cả các API key của GOOGLE vào đây, cách nhau bằng dấu phẩy
PRIVATE_KEY = 2aac7fad1caf56e547cffa20e6d8a849d84923ae4b8323f098738fb65e929d45

API_KEY_GROQ=dán tất cả các API key của GROQ vào đây, cách nhau bằng dấu phẩy

CLOUDFLARE_ACCOUNT_ID = dán_cái_account_id_vào_đây
CLOUDFLARE_API_TOKEN = dán_cái_token_dài_vào_đây

GITHUB_API_TOKEN = dán_cái_github_token_vào_đây
# Technical config
ERROR_429_COOLDOWN_SEC = 60
ERROR_503_COOLDOWN_SEC = 5

# Auth
JWT_ALGORITHM = HS256
TOKEN_EXPIRY_HOURS = 72

# Models
MODEL_IN_USE_EMBED = CLOUDFLARE 
MODEL_IN_USE_CAPTION_IMAGE = CLOUDFLARE
MODEL_IN_USE_GENERATE_CHAT = GOOGLE
MODEL_IN_USE_REWRITE_PROMPT = GOOGLE
MODEL_IN_USE_GENERATE_MATERIAL = GOOGLE
MODEL_IN_USE_GRADE_ANSWERS = GOOGLE

MODEL_IN_USE_GENERATE_CHAT_BACKUP = GITHUB
MODEL_IN_USE_REWRITE_PROMPT_BACKUP = GITHUB
MODEL_IN_USE_GENERATE_MATERIAL_BACKUP = GITHUB
MODEL_IN_USE_GRADE_ANSWERS_BACKUP = GITHUB
# GOOGLE
# OLLAMA

EMBED_MODEL_GOOGLE = gemini-embedding-001
VISION_MODEL_GOOGLE = gemini-2.5-flash
ANSWER_MODEL_GOOGLE = gemini-2.5-flash

OLLAMA_HOST = http://ollama:11434
EMBED_MODEL_OLLAMA = nomic-embed-text
VISION_MODEL_OLLAMA = llama3.2-vision
ANSWER_MODEL_OLLAMA = llama3.1

EMBED_MODEL_CLOUDFLARE = @cf/baai/bge-m3
VISION_MODEL_CLOUDFLARE = @cf/meta/llama-3.2-11b-vision-instruct
ANSWER_MODEL_CLOUDFLARE = @cf/deepseek-ai/deepseek-r1-distill-qwen-32b

ANSWER_MODEL_GITHUB = gpt-4o-mini

# RAG
DEFAULT_CHUNK_SIZE = 500
DEFAULT_CHUNK_OVERLAP = 50
DEFAULT_EMBED_DIMENSIONALITY = 768
N_CHUNKS_RETRIEVED = 5
N_PAST_CONVERSATIONS = 3
N_CHUNKS_WINDOW = 1

# STUDY ACTIVITY
DEFAULT_EXERCISE_TOTAL_SCORE = 100